/cross-build-regression-testing.pdf
/cross-build-regression-testing.aux
/cross-build-regression-testing.bbl
/cross-build-regression-testing.blg
/cross-build-regression-testing.log
/cross-build-regression-testing.out
/cross-build-regression-testing.synctex.gz
/cross-build-regression-testing.synctex.gz
